/*
 * ----------------------------------------------------------------------------------------
 * Footer styles.
 * ----------------------------------------------------------------------------------------
 */
 footer{
 	.footerr{
 		padding: 0 120px;
 		.subjet{
 			margin-top: 70px;
 			text-align: left;
 			h2{
 				color: #fff;
 				font-weight: 800;
 				span{
 					font-size: 10px;
 					color: #888;
 				}
 			}
 			p{
 				color: #888;
 				padding-right: 30px;
 				margin-top: 30px;
 			}
 			ul{
 				li{
 					list-style: none;
 					margin-top: 20px;
 					color: #888;
 					a{
 						color: #888;
 						font-size: 18px;
 						text-decoration: none;

 						i{
                          margin-right: 10px;
                          font-size: 20px;
                          color: #fff;
 						}
 					}
 				}
 			}
 		}
 		.col-md-2{
 			margin-top: 90px;
 			text-align: left;
 			h4{
 				color: #fff;
 				font-size: 18px;
 				font-weight: 600;
 			 }
 			hr{
 				border-top: 2px solid #FF5500;
 				margin-top: 20px;

 			  }
 			.footer-ul-one{
 				margin-top: 50px;
 				li{
 					list-style: none;
 					margin-top: 7px;
 					a{
 						color: #888;
 						text-decoration: none;
 						font-size: 14px;
 						font-weight: 700;
 						&:hover {
 							color: darken( #888, 5%);
 						}
 						.fa{
 							font-size: 16px;
 							font-weight: 800px;
 							margin-right: 10px;
 							color: #FF5500;
 						}
 				     }  
 			      }
 		      }
 		      
 	     }
 	  
 	.payment{
 	   margin: 40px;
   	   text-align: left; 	
 	  h4{
 	    font-size: 14px;
 		font-weight: 800;
 		color: #fff;
 		}
 	   }
 	 }
 	 .footer-content{
 	 	padding: 0 120px;
 	    min-height: 100%;
 	    h4{
 	    	font-size: 14px;
 	    	font-weight: 700;
 	    	padding: 22px 0;
 	    	span{
 	    		color: #FF5500;
 	    		font-weight: 900;
 	    	}
 	    }
 	    .footerull{
 	    	margin-top: -20px;
 	    	li{
 	    		padding: 0 10px;
                border-right: 1px solid #888;
 	    		&:hover{
 	    			background: #FF5500;
 	    		}
 	    		a{
 	    			color: #fff;
 	    			background: none;
 	    			&:hover{
 	    				background: none;
 	    			}
 	    		}
 	    	}
 	    }
 	}
}

.formtype{
	margin-top: 90px;
	margin-bottom: 40px;
	text-align: left;
	h4{
		color: #fff;
		font-size: 18px;
		font-weight: 600;
	  }
	hr{
		border-top: 2px solid #FF5500;
		// margin-top: 80px;
	  }
	  p{
	  	color: #888;
		padding-right: 30px;
		margin-top: 50px;
	   }
	  form{
	  	margin-top: 10px;
	  	input{
	  		height: 45px;
	  		background: #333333;
	  		border: none;
	  		outline: none;
	  		color: #fff;
	  		// Placeholder
	  		&::-moz-placeholder {
	  		  color: #5C5C5C; //dark gray
	  		  opacity: 1;
	  		}
	  		&:-ms-input-placeholder {
	  		  color: #5C5C5C; //dark gray
	  		}
	  		&::-webkit-input-placeholder {
	  		  color: #5C5C5C; //dark gray
	  		}
	  		&:focus,
	  		&:hover{
	  			border: none;
	  			box-shadow: none;
	  			border-shadow: none;
	  		}

	  	     }
	  	textarea{
	  		height: 130px;
	  		background: #333333;
	  		border: none;
	  		outline: none;
	  		color: #fff;
	  		// Placeholder
	  		&::-moz-placeholder {
	  		  color: #5C5C5C; //dark gray
	  		  opacity: 1;
	  		}
	  		&:-ms-input-placeholder {
	  		  color: #5C5C5C; //dark gray
	  		}
	  		&::-webkit-input-placeholder {
	  		  color: #5C5C5C; //dark gray
	  		}
	  		&:focus,
	  		&:hover{
	  			border: none;
	  			box-shadow: none;
	  			border-shadow: none;
	  		}
	  	       }
	  	.btn{
	  		background: #FF5500;
	  		color: #fff;
	  		font-size: 12px; 
	  		font-weight: 700;
	  		&:hover{
	  			border: none;
	  			outline: none;
	  			overflow: none;
	  			height: 31px;
	  		   }
	  		   &:active{
	  		   	border: none;
	  			outline: none;
	  			overflow: none;
	  			height: 31px;
	  		   }

	  	}

	  }
 }

.footer-ul-two{
  	margin-top: 50px;
	li{
		list-style: none;
		margin-top: 7px;
		a{
			color: #888;
			text-decoration: none;
			font-size: 14px;
			font-weight: 700;
			&:hover {
				color: darken( #888, 15%);
			}
			.fa{
				font-size: 16px;
				font-weight: 800px;
				margin-right: 10px;
				color: #FF5500;
			}
	    }  
    }
}

// .accent-4{
// 	margin-top: 22px;
// }