/*
 * ----------------------------------------------------------------------------------------
 * Header styles.
 * ----------------------------------------------------------------------------------------
 */
 .navbar__header{
  padding: 0 80px;
 }
 header{
  background: #191919;
  height: 47px;
     }
    .navbar-left li{
        border-left: 1px solid #888;
        height: 47px;
        width: 50px;
        a{
            color: #fff;
            font-size: 12px;
            font-weight: 700;
            height: 47px;
            padding-left: 20px;
            &:hover
            {
                color: #fff;
            }
            .fa{
                 font-size: 14px;
                color: #fff;
        }
    }
        a:focus, a:hover {
            background-color: #FF5401;
            border: none;
                  
           }
    }
    .ullll li{
        height: 47px;
        border-right: 1px solid #888;
        a{
             color: #888;
             font-size: 12px;
             font-weight: 600;
             height: 47px;
             span{
              color: #FF5401;
              &:hover{
                color: #fff;
              }
             }
        &:focus,
        &:hover,
        &:active{
                background-color: #FF5401;
                color: #fff;
                span{
                  color: #fff;
                }
               }
          } 
        input{
            background: none;
            border: none;
            height: 47px;
            color: #fff;
             
             // Placeholder
        &::-moz-placeholder {
          color: #5C5C5C; //dark gray
          opacity: 1;
          font-size: 10px;
        }
        &:-ms-input-placeholder {
          color: #888; //dark gray
        }
        &::-webkit-input-placeholder {
          color: #888; //dark gray
          font-size: 12px;
        }
      }
        .form-control-feedback
             {
                position: absolute;
                top: 14px;
                color: #fff;
                font-size: 20px;
             }
        }
        .dropdown-menu{
          position: absolute;
          min-width: 68px;
            padding: 0;
            margin: 0;
            border: 0;
            box-shadow: 0;
            top: 100%;
            text-align: center;
        }
        .nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: #FF5401;
    border: none;
}
        .dropdown-menu{
          li{
            &:hover{
              background:  #FF5401;
            }
          }
        

}
        // end top navbar --------------------
        // start secned navbar ------------------
 nav{
    border-bottom: 1px solid #eee;
    height: 92px;
    .web-heading{
      h1{
        margin-top: 13px;
      font-size: 24px;
      font-weight: 900;
        }
    }
// navbar ul strat===========================
.navbar-right{
    height: 90px;
    padding-top: 35px;
    li{
     padding:  0 10px;
     &:last-child{
       background:  #FF5401;
       height: 90px;
       width: 80px;
       margin-top: -35px;
       .fa{
        cursor: pointer;
       }
     }
    a{
        color: #000;
        font-size: 12px;
        font-weight: 900;
        padding-top: 0px !important;
        &:hover
      {
      background: none;
      }
    }
  }
 }
}
.badge-8{
      position: absolute;
      top: 30px;
      right: 30px;
      color: #fff;
      i{
        font-size: 22px;
      }
      p{
        height: 15px;
        width: 15px;
        font-size: 10px;
        text-align: center;
        border: 1px solid #111;
        border-radius: 50%;
        position: absolute;
        top: -10px;
        right: -10px;
        background: #111;
      }
    }
 