/*
 * ----------------------------------------------------------------------------------------
 * Main styles.
 * ----------------------------------------------------------------------------------------
 */

 
 // section broadcom scss=====================  
 .home-ul{
 	height: 50px;
    min-width: 100%;
    background: #F8F8F8;
    padding: 13px 135px;
    li{
      display: inline-block;
      list-style: none;
      margin-right: 10px;
      i{
        color: red;
        font-weight: 600;
      }
      a{
      	text-decoration: none;
      	font-size: 16px;
      	font-weight: 500;
      	color: #C3C3C3;
      }
    }

     .active{
      	color: #000;
      	font-size: 14px;
      	font-weight: 800;
      }
 }
 // main Error page [page ]==========
 .main-page{
       display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;
       background: #fff;
       img{
       	width: 310px;
       	height: 310px;
        margin-bottom: 30px;
       }
       h2{
       	font-size: 34px;
       	font-weight: 800;
       	margin-top: 10px;
       	span{
       		font-size: 33px;
       	}
       }
       	h3{
          margin-top: -1px;
       		font-size: 20px;
       		font-weight: 900;
       	}
       	p{
       		text-align: center;
       		margin-top: 20px;
       		line-height: 1.900;
          font-size: 14px;
       		font-weight: 500;
          color: #888;
       		a{
       			text-decoration: none;
       			color: red;
       			font-weight: 700;
       		}
       	}
       	.btn-group{
       		margin: 100px;
       		.btn{
       			margin: 0 30px;
       			padding: 10px 20px;
       			color: #fff;
       			font-size: 16px;
       			font-weight: 700;
            text-transform: uppercase;
            border-radius: 5px !important;
       		}
         	}
       }
      // full-page stlyle ===========
      .sub-header{
       margin-left: -15px;
      }
//  page title style in here==============
.page-tital{
   border-bottom: 4px solid red;
   width: 50px; 
   h3{
      font-size: 20px;
      font-weight: 800;
      width: 500px;
      margin: 40px 0 10px  0;
     }
}

.table-chart{
 margin-top: 20px;
  tr{
    width: 100%;
    height: 50px;
  td{
     font-weight: 600;
     width: 300px;
     padding: 0px;
    h5{
      font-size: 12px;
      font-weight: 900;
      }
     p{
      font-size: 12px;
      color: #888;
    .lable{
          height: 40px; 
          width: 60px;
          background: none
          }
      }
    }
  }
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 0px;
    padding-top: 10px;
    line-height: 1.42857;
    vertical-align: top;
    border-top: 1px solid #ddd;
}
//  Table end scss ====================
 .arrow-up{
  // background: none;
  height: 40px;
  width: 60px;
  border: 1px solid #888;
  display: flex;
  .number{
    display: inline-block;
    margin-left: 15px;
    li{
      list-style: none;
      i{
        cursor: pointer;
      }
    }
  }
 }
 // calcolate form section==============

 .form-section{
  margin: 30px 0;
  .headign{
    border-bottom: 3px solid #FF5500;
    width: 30px;
    h2{
   font-size: 17px;
   font-weight: 900;
   width: 350px;
 }
  }
 }
 // copen-section strat=======================
 .copen-code{
  margin: 30px 0;
  .copen{
  p{

    font-size: 16px;
    color: #888;
  }
}
  .headign{
    border-bottom: 3px solid #FF5500;
    width: 30px;
    h2{
   font-size: 17px;
   font-weight: 900;
   width: 300px;
   }
   .copen-in{
    margin-top: 30px;
   }
  }
 }
 // start cart total section========
 .cart-total{
  margin: 30px 0;
  .headign{
    border-bottom: 3px solid #FF5500;
    width: 30px;
    h2{
   font-size: 17px;
   font-weight: 900;
   width:300px;
    }
 }
 .cart-total-2{
  margin-top: 20px;
 }
}
.table-row-td{
  height: 40px;
  h5{
  
  font-size: 16px;
  font-weight: 700;
 }
}
// star-rang scss stylesheet====
.rate {
    display: flex;
    height: 46px;
    padding: 10px 5px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:20px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

/* Modified from: https://github.com/mukulkant/Star-rating-using-pure-css */
// new-page stylesheet start here===================================
.new-page-row{
  padding: 30px 120px;
}
//  col-md-3 stylesheet======
// catagories section====
.catagrise-one{
  .catagry{
    border-bottom: 3px solid red;
    width: 30px;
  h2{
    font-size: 16px;
    font-weight: 900;
    width: 300px;
  }
 }
 .sild-bar-table{
  margin-top: 40px;
  th{
    border-top: none;
    font-size: 14px;
    font-weight: 900;
  }
  .disabled{
    font-size: 14px;
    color: #888;
  }
  td{
    font-size: 16px;
    font-weight: 800;
  }
 }
}
// artists section stylesheet=========
.artist{
  margin-top: 40px;
  .artistss{
    border-bottom: 3px solid red;
    width: 30px;
  h3{
    font-size: 18px;
    font-weight: 900;
    width: 300px;
  }
}
  .artists{
    margin-top: 30px;
    th{
    border-top: none;
    font-size: 14px;
    font-weight: 800;
    }
    td{
      font-size: 16px;
      font-weight: 800;
    }
  }
}
// color section section================
.color-section{
  margin-top: 30px;
  height: 200px;
  .colors{
    border-bottom: 3px solid red;
    width: 30px;
  h3{
    font-size: 16px;
    font-weight: 900;
    width: 300px;
  }
 }
}
 
 .input-type{
  margin-top: 40px;
   label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight:900;
  }
}
// start price section ====================
.price{
   margin-top: 40px;
  .prices{
    border-bottom: 3px solid red;
    width: 30px;
  h3{
    font-size: 18px;
    font-weight: 900;
    width: 300px;
  }
 }
 .rang-container{
  margin-top: 30px;
 }
 .button-section{
  margin-top: 20px;
  display: flex;
  .btn{
    background: #FF5500;
    color: #fff;
    padding: 7px 10px;
    font-size: 14px;
    font-weight: 800;
  }
  p{
    margin-left: 20px;
    margin-top: 8px;
    color: #888;
    span{
      color: #111;
      font-weight: 800;
    }
  }
 }
}
// end price section==========
.feature-section{
  margin-top: 50px;
  .feature-heading{
    border-bottom: 3px solid red;
    width: 30px;
  h3{
    font-size: 18px;
    font-weight: 900;
    width: 300px;
  }
 }
.features{
  margin-top: 40px;
  .rating-star{
   display: flex;
   margin:20px  0;
   .imgage{
    height: 80px; 
    width: 80px;
    img{
      height: 100%;
      width: 100%;
    }
   }
   .golden-eagle{
    width: 220px;
    margin-left: 20px;
    h5{
      font-weight: 900;
      font-size: 14px;
    } 
    p{
    margin-right: 40px;
    font-weight: 700;
    }
   }
  }
}
}
// end feature aection-=======================.

.heading-one{
  display: flex;
  h2{
    font-size: 13px;
    font-weight: 800;
    margin-top: 24px;
  }
  .form-group{
    display: flex;
    margin-top: 10px;
    margin-left: 30px;
    label{
      width: 90px;
      font-weight: 800;
      margin-top: 10px;
      padding-left: 10px;
    }
    .form-control{
      width: 170px;
    }
  }
}
// end main page heading -bar ======

.images{
  height: 250px;
  width: 250px;
  img{
    height: 100%;
    width: 100%;
  }
}
.box-contant{
  text-align: center;
  h3{
    font-size: 18px;
    font-weight: 800;
  }
  p{
    font-weight: 700;
    color: #888;

  }
  .rate{
    margin-left: 50px;
    p{
      font-weight: 900;
      color: #111;
      padding: 5px 10px;
    }
  }
}


// social media stylesheet====================
// Variables
$social-media-link-dimensions: 45px !default;
$social-media-link-border-radius: 4px !default;
$social-media-link-color: #fff !default;
$social-media-link-font-size: 20px !default;
$social-media-link-space-between: 4px !default;
$social-media-link-hover-top-shifting: -16px !default;
$social-media-color-facebook: #5F7AAE;
$social-media-color-twitter: #5AC2F0;
$social-media-color-instagram: #4D4D4D;
$social-media-color-linkedin: #4390B5;
$social-media-color-youtube: #C34A47;

$backgrounds: (
  "facebook": $social-media-color-facebook,
  "twitter":$social-media-color-twitter,
  "instagram":$social-media-color-instagram,
  "linkedin":$social-media-color-linkedin,
  "youtube":$social-media-color-youtube
);

@each $network, $color in $backgrounds {
  .social-media-link--#{$network} {
    &:before {
      background-image: linear-gradient(45deg, rgba(51,51,51,1) 0%, rgba(51,51,51,1) 49%, $color 50%);
    }
  }
}

.social-media-links {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 100px;
}

.social-media-link {
  width: $social-media-link-dimensions;
  height: $social-media-link-dimensions;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: $social-media-link-color;
  font-size: $social-media-link-font-size;
  position: relative;
  transition: transform .50s ease-in-out;
  > i {
    z-index: 1;
  }
  &:before {
    width: $social-media-link-dimensions;
    height: $social-media-link-dimensions;
    border-radius: $social-media-link-border-radius;
    content: "";
    position: absolute;
    background-size: 300%;
    background-position: 0% 0%;
    transition: background-position .55s cubic-bezier(.79,.14,.15,.86);
  }
  &:hover,
  &:active,
  &:focus {
    transform: translateY($social-media-link-hover-top-shifting);
    /* This padding-bottom helps the pointer do stay inside the link,
    avoiding the animation to flicker. */
    padding-bottom: abs($social-media-link-hover-top-shifting) * 2;
    &:before {
      background-position: top right;
    }
  }
  + .social-media-link {
    margin-left: $social-media-link-space-between;
  }
}
// pagination====================================
.pagination{
.active{
   background: #fff;
}
}
// collapse==========
.font-size-in{
  height: 33px;
  width: 40px;
  border: 1px solid rgba(0,0,0,0.2);
  margin-top: 10px;
  margin-left: 10px;

  .fa{
    font-size: 24px;
    padding: 5px;
    cursor: pointer;
  }
}
.font-size{
  height: 33px;
  width: 40px;
  border: 1px solid rgba(0,0,0,0.2);
  margin-top: 10px;
  margin-left: 10px;

  .fa{
    font-size: 24px;
    padding: 5px;
    cursor: pointer;
  }
}
.plud-sing:before{
  content: '\ +';
}
.plud-sing.active:before{
  content: '\ -';
  font-size: 22px;
  font-weight: 800;
  color: red;
  
}
.plud-si:before{
  content: '\ +';
}
.plud-si.active:before{
  content: '\ -';
  font-size: 22px;
  font-weight: 800;
  color: red;
  
}
.plud-sin:before{
  content: '\ +';
}
.plud-sin.active:before{
  content: '\ -';
  font-size: 22px;
  font-weight: 800;
  color: red;
  
}
