   <!-- Footer -->
<footer class="page-footer font-small unique-color-dark">  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left mt-5 footerr" style="background: #242424;">
    <div class="row mt-3">
      <!-- Grid column -->
       <div class="col-md-4 col-lg-4 col-xl-3 mx-auto mb-4 subjet">
        <!-- Content -->
        <h2><span style="border-top: 3px solid  #FF5401;
         border-bottom: 3px solid  #FF5401; width: 15%;font-size: 16px;font-weight: 800;">THE</span>
          TRICKSTER
          <span> CUSTOM DESIGNS</span>
         </h2>
         
         <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
         tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
         quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
         consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.
       </p>
       <ul>
        <li><a href="#">
          <i class="fa fa-map-marker"></i> New York, NY 10012, US</a>
      </li>
        <li><a href="#">
          <i class="fa fa-envelope mr-3"></i> info@example.com</a></li>
        <li><a href="#">
          <i class="fa fa-phone mr-3"></i> + 01 234 567 88</a></li>
       </ul>
      </div>
      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
        <!-- Links -->
        <h4 class="text-uppercase font-weight-bold">SITEMAP</h4>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 40px;">
        <ul class="footer-ul-one">
        	<li>
        		<a href="#"><i class="fa fa-angle-right"> </i> Home</a>
        	</li>
        	<li>
        		<a href="#"><i class="fa fa-angle-right"> </i> Aboutus</a>
        	</li>
        	<li>
        		<a href="#"><i class="fa fa-angle-right"> </i> Shop</a>
        	</li>
        	<li>
        		<a href="#"><i class="fa fa-angle-right"> </i> Our Blog</a>
        	</li>
        	<li>
        		<a href="#"><i class="fa fa-angle-right"> </i> Contact</a>
        	</li>
        	<li>
        		<a href="#"><i class="fa fa-angle-right"> </i> Your Account</a>
        	</li>
        	<li>
        		<a href="#"><i class="fa fa-angle-right"> </i> FAQs</a>
        	</li>
        	<li>
        		<a href="#"><i class="fa fa-angle-right"> </i> Our Guarantees</a>
        	</li>
        </ul>
      </div>
      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
        <!-- Links -->
        <h4 class="text-uppercase font-weight-bold">COMPANY</h4>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 40px;">
        <ul class="footer-ul-two">
        	<li>
        		<a href="#"><i class="fa fa-angle-right"> </i> Shipping Policy</a>
        	</li>
        	<li style="width: 200px;">
        		<a href="#"><i class="fa fa-angle-right"> </i> International Shipping</a>
        	</li>
        	<li>
        		<a href="#"><i class="fa fa-angle-right"> </i> Affiliates</a>
        	</li>
        	<li>
        		<a href="#"><i class="fa fa-angle-right"> </i>Our Saponser</a>
        	</li>
        	<li>
        		<a href="#"><i class="fa fa-angle-right"> </i> Privecy policy</a>
        	</li>
        	<li>
        		<a href="#"><i class="fa fa-angle-right"> </i>Terms & Condition</a>
        	</li>
        	<li>
        		<a href="#"><i class="fa fa-angle-right"> </i> Pay on Arrival</a>
        	</li>
        </ul>
      </div>
       <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mb-4 formtype" >
        <!-- Links -->
        <h4 class="text-uppercase font-weight-bold">QUICK CONTACT</h4>
        <hr class="deep-purple accent-4 mb-4 mt-0 d-inline-block mx-auto" style="width: 40px;background: #FF5500;">
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labor.
       </p>
       <form>
       	<div class="form-group">
       	<input type="name" placeholder="Email" class="form-control">
       </div>
       <div class="form-group">
       	<textarea rows="10" cols="20" placeholder="Massage" class="form-control"></textarea>
       </div>
       <button class="btn btn-group-justified">SEND MASSAGE</button>
       </form>
 	</div>
 	<hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 100%; background: #888;">
		  <div class="payment">
		  	<h4>PAYMENT METHOD:</h4>
		  </div>
   </div>
  </div>
   <div class="container-fluid footer-content" style="background: #1B1B1B; height: 52px;">
       	<h4> <span>THE TRICKSTER </span>| All Rights Reserved 2016</h>
       	<ul class="nav navbar-nav navbar-right footerull">
             <li style="border-left: 1px solid #888;"><a href="http://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
             <li><a href="http://www.twitter.com"><i class="fa fa-twitter"></i></a></li>
             <li><a href="http://www.googleplus.com"><i class="fa fa-google-plus"></i></a></li>
             <li><a href="http://www.blog.com"><i class="fa fa-rss"></i></a></li>
             <li style=" border-right: 1px solid #888;"><a href="http://www.vimeo.com"><i class="fa fa-vine"></i></a></li>
          </ul> 
        </div>
</footer>



    
    </div>
    <!-- /wrap -->
   <!-- @include scripts.html -->

  <script type="text/javascript">
    var style = 'assets/css/style.css?'+Math.random();;
  </script>

  <script type="text/javascript">
    document.write('<link href="'+style+'" rel="stylesheet">');
  </script>
</body>
</html>


