<script src="../static/assets/js/jquery.min.js"></script>
<script src="../static/assets/js/bootstrap.min.js"></script>
<!-- <script src="../static/assets/js/star-rating.min.js"></script> -->


 
<!-- <script src="assets/plugins/icheck-1.0.2/icheck.js"></script>

<script src="assets/plugins/semantic-ui-transition/transition.min.js"></script>
<script src="assets/plugins/semantic-ui-dropdown/dropdown.js"></script> -->

<script src="../static/assets/plugins/Star-Rating/js/star-rating.min.js"></script>
<!-- <script src="assets/plugins/js/"></script> -->
<script src="../static/assets/js/main.js"></script>
