<!--  @include html_partials/header.html -->

	<div class="container-fluid" style="width: 100%; padding: 0 !important;">
        <ul class="home-ul">
          <li><a href="#">Home</a></li>
          <li><i class="fa fa-angle-right"></i></li>
          <li class="active">404 Error Page</li>
        </ul> 
    </div>
    
    <div class="jumbotron main-page">
         <img src="1.png">
          <h2><span> OOOOPS!</span> PAGE NOT FOUND</h2>
          <h3>SEEMS THAT WE HAVE A PROBLEN!</h3>
          <p>The page you are looking for has been moved or doesn't exist anymore, if you like you can return to our<br> homepage.If the problem persists.olese send us an email to <a href="#">info@tricksterhelmest.com</a> 
          </p>
        <div class="btn-group">
          <button type="button" class="btn" style="background: #FF5500;">return to home</button>
          <button type="button" class="btn" style="background: #242424;">continue shopping </button>
        </div>
    </div>

<!-- @include html_partials/footer.html-->