        <!-- @include html_partials/header.html -->
<div class="container-fluid">
 <div class="sub-header">
        <ul class="home-ul">
          <li><a href="#">Home</a></li>
          <li><i class="fa fa-angle-right"></i></li>
          <li><a href="#">Shop</a></li> 
          <li><i class="fa fa-angle-right"></i></li>
          <li class="active">Shopping Cart</li>
        </ul>  
 </div>
<div class="page-wraper full-page" style="padding: 20px 130px;">
  <div class="page-content-inner ">
    <div class="page-tital">
    	<h3>SHOPPING CART</h3>
    </div>
	  <table class="table table-hover table-chart">
			<tr style="width: 100%; ">
				<td style="border-top: none;"><h5> PRODUCT PHOTO</h5></td>
				<td style="border-top: none;"><h5>PRODUCT NAME</h5></td>
				<td style="width: 600px;border-top: none;"><h5>DESCRIPTION</h5></td>
				<td style="border-top: none;"><h5>PRICE</h5></td>
				<td style="border-top: none;"><h5>QUANTITY</h5></td>
				<td style="border-top: none;"><h5>TOTAL PRICE</h5></td>
			</tr>
			<tr>
				<td>
				<img src="images/1.jpg" alt="" style="height: 90px; width: 90px;">
				</td>
				<td>
				<h5>POISONOUS FROG</h5>
				<P style="font-size: 12px;">for Outdoor Sports</P>
				 <div class="rate">
				    <input type="radio" id="star5" name="rate" value="5" />
				    <label for="star5" title="text">5 stars</label>
				    <input type="radio" id="star4" name="rate" value="4" />
				    <label for="star4" title="text">4 stars</label>
				    <input type="radio" id="star3" name="rate" value="3" />
				    <label for="star3" title="text">3 stars</label>
				    <input type="radio" id="star2" name="rate" value="2" />
				    <label for="star2" title="text">2 stars</label>
				    <input type="radio" id="star1" name="rate" value="1" />
				    <label for="star1" title="text">1 star</label>
				  </div>
				</td>
			    <td  style="width: 500px;">
			    	<p>
				 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtempor incididunt ut labore et.
				</p>
				</td>
				<td>
					<p style="font-size: 16px; font-weight: 900; color: #111;">$170</p>
				</td>
				<td>
                <div class="arrow-up">
                   <div class="number"> 
                    <p style="padding-top: 10px; font-size: 16px;">4</p>
                   </div>
	                <div class="number">
	                	<li><i class="fa fa-angle-up"></i></li>
	                	<li><i class="fa fa-angle-down"></i></li>
	                </div>
                </div>
				</td>
				<td>
				 <p style="font-size: 16px; font-weight: 900; color: #111;">$170</p>
			    </td>
				<td><a href="#" style="text-decoration: none;"> &times</a></td>
			</tr>
			<tr class="12345">
				<td>
				<img src="images/2.jpg" alt="" style="height: 80px; width: 80px;">
				</td>
				<td>
				<h5>POISONOUS FROG</h5>
				<P>for Outdoor Sports</P>
				<div class="rate">
				    <input type="radio" id="star5" name="rate" value="5" />
				    <label for="star5" title="text">5 stars</label>
				    <input type="radio" id="star4" name="rate" value="4" />
				    <label for="star4" title="text">4 stars</label>
				    <input type="radio" id="star3" name="rate" value="3" />
				    <label for="star3" title="text">3 stars</label>
				    <input type="radio" id="star2" name="rate" value="2" />
				    <label for="star2" title="text">2 stars</label>
				    <input type="radio" id="star1" name="rate" value="1" />
				    <label for="star1" title="text">1 star</label>
				  </div>
				</td>
			    <td style="text-align: left;">
			    	<p>
				 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtempor incididunt ut labore et.</p>
				</td>
				<td>
					<p style="font-size: 16px; font-weight: 900; color: #111;">$170</p>
				</td>
				<td>
                <div class="arrow-up">
                   <div class="number"> 
                    <p style="padding-top: 10px; font-size: 16px;">5</p>
                   </div>
	                <div class="number">
	                	<li><i class="fa fa-angle-up"></i></li>
	                	<li><i class="fa fa-angle-down"></i></li>
	                </div>
                </div>
				</td>
				<td>
					<p style="font-size: 16px; font-weight: 900; color: #111;">$170</p>
				</td>
				<td><a href="#" style="text-decoration: none;"> &times</a></td>
			</tr>
			<tr>
				<td>
				<img src="images/3.jpg" alt="" style="height: 80px; width: 80px;">
				</td>
				<td>
				<h5>POISONOUS FROG</h5>
				<P>for Outdoor Sports</P>
				<div class="rate">
				    <input type="radio" id="star5" name="rate" value="5" />
				    <label for="star5" title="text">5 stars</label>
				    <input type="radio" id="star4" name="rate" value="4" />
				    <label for="star4" title="text">4 stars</label>
				    <input type="radio" id="star3" name="rate" value="3" />
				    <label for="star3" title="text">3 stars</label>
				    <input type="radio" id="star2" name="rate" value="2" />
				    <label for="star2" title="text">2 stars</label>
				    <input type="radio" id="star1" name="rate" value="1" />
				    <label for="star1" title="text">1 star</label>
				  </div>
				</td>
			    <td style="text-align: left;">
			    	<p>
				 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtempor incididunt ut labore et.</p>
				</td>
				<td>
					<p style="font-size: 16px; font-weight: 900; color: #111;">$170</p>
				</td>
				<td>
                <div class="arrow-up">
                   <div class="number"> 
                    <p style="padding-top: 10px; font-size: 16px;">2</p>
                   </div>
	                <div class="number">
	                	<li><i class="fa fa-angle-up"></i></li>
	                	<li><i class="fa fa-angle-down"></i></li>
	                </div>
                </div>
				</td>
				<td>
					<p style="font-size: 16px; font-weight: 900; color: #111;">$170</p>
				</td>
				<td><a href="#" style="text-decoration: none;" style="font-size: 22px;"> &times</a></td>
			</tr>
		</table>
	  </div>

	</div><!-- page-content -->
  <div class="container-fluid" style="padding: 0 120px;">
   <div class="row" style="margin-bottom: 50px;">
    <div class="col-md-4 form-section">
          <div class="headign">
    		<h2>CALCULATE SHIPPING</h2>
    	 </div>
		  <form class="form-calculate" style="margin-top: 30px;
		  ">
		  	<div class="form-group">
			  <label for="name"> Slect Your Country</label>
				<div class="select">
				  <select name="slct" id="slctt" class="form-control">
				    <option selected disabled>United Stat(USA)</option>
				    <option value="1">USA</option>
				    <option value="2">Pakistan</option>
				    <option value="3">Iran</option>
				    <option value="4">Turky</option>
				  </select>
				</div>
		    </div>
		     <div class="form-group col-md-8">	
			   <label for=''>Select City</label>
			    <div class="select" style="margin-left: -15px;">
				  <select name="slct" id="slct" class="form-control">
				    <option selected disabled>State/City</option>
				    <option value="1">Faisalabad</option>
				    <option value="2">Lahore</option>
				    <option value="3">Krachi</option>
				    <option value="4">Okara</option>
				  </select>
				</div>
			 </div>
             <div class='input-group col-md-4'>
			    <label for=''>Zip Code</label>
			    <input placeholder='Zip Code' class="form-control">
			 </div>
			    <button class='btn' style="background: #242424; color: #fff; padding: 10px 20px;">Complete Payment</button>
			  </form>
			</div>
			<!-- end form section col-md-4 -->
			 <div class="col-md-4 copen-code">
               <div class="headign">
    		     <h2>COPEN CODE</h2>
    	       </div>
    	       <div class="copen" style="margin-top: 30px;">
    	       <p>If  you have a promotional or a discount code. plese enter it right here to redeemit!    	       	</p>
    	       </div>
    	       <div class="form-group copen-in" style="margin-top: 30px;">
    	       	<label for="name">Coupon Code</label>
    	       	<input type="" placeholder="25AHT56244" class="form-control">
    	       </div>
    	       <button class="btn"  style="background: #242424; color: #fff; font-size: 13px; font-weight: 600; padding: 10px 20px;">REDEEM CODE</button>
             </div> 
             <div class="col-md-4 cart-total">
             	<div class="headign">
    		     <h2>CART TOTALS</h2>
    	        </div>
    	        <table class="table cart-total-2" style="margin-top: 30px;">
    	        	<tr class="table-row-td">
    	        		<td>
    	        			<h5>Cart Subtotal</h5>
    	        		</td>
    	        		<td>
    	        			<h5>$1145</h5>
    	        		</td>
    	        	</tr>
    	        	<tr class="table-row-td">
    	        		<td>
    	        			<h5>Shipping and Handing</h5>
    	        		</td>
    	        		<td>
    	        			<h5>$50</h5>
    	        		</td>
    	        	</tr>
    	        	<tr class="table-row-td">
    	        		<td>
    	        			<h5>Cart Total</h5>
    	        		</td>
    	        		<td>
    	        			<h5 style="color: #DD601D;">$1195</h5>
    	        		</td>
    	        	</tr>
    	        	<tr>
    	        		<td></td>
    	        		<td></td>
    	        	</tr>
    	        </table>
    	        <button class="btn" style="background: #FF5500; color: #fff; font-weight: 700; padding: 10px 20px;">PROCEED TO CHECKOUT</button>
             </div>
         </div><!-- end row -->
   </div>
  </div> <!-- page -->


       
     
    <!-- @include html_partials/footer.html -->
    