 <!-- @include html_partials/header.html -->
 <div class="container-fluid">
      <div class="sub-header">
            <ul class="home-ul">
              <li><a href="#">Home</a></li>
              <li><i class="fa fa-angle-right"></i></li>
              <li><a href="#">Shop</a></li> 
              <li><i class="fa fa-angle-right"></i></li>
              <li style="color: #000; font-weight: 800;">Browse All</li>
            </ul>  
      </div> 
    <!-- end  brodcorm section=====-->

   <div class="row new-page-row">
    <div class="col-md-3 slid-bar-section">
      <div class="catagrise-one">
        <div class="catagry">
        <h2>CATEGORIES</h2>
        </div>
        <table class="table sild-bar-table">
        <tr>
          <th>Illustrations</th>
          <th>
                <a class="plud-sing" data-toggle="collapse" href="#collapseExample" style=" text-decoration: none; color: red;
                font-size: 20px;">
                  
                </a>
          </th>
        </tr>
        <tr class="collapse" id="collapseExample">
              <td>
                  <p class="disabled">Abstract</p>
                  <p class="disabled">Rock & Pinup</p>
              </td>
        </tr>
        <tr>
          <td>Street Art Collection</td>
          <td>
            <a class="plud-si" data-toggle="collapse" href="#collapseExampl" style=" text-decoration: none; color: red;
                font-size: 20px;">
                 
            </a>
          </td>
        </tr>
        <tr class="collapse" id="collapseExampl">
              <td>
                  <p class="disabled">Abstract</p>
                  <p class="disabled">Rock & Pinup
              </td>
        </tr>
        <tr>
          <td>Gamming Collection</td>
          <td>
            <a class="plud-sin" data-toggle="collapse" href="#collapseExamp" style=" text-decoration: none; color: red;
                font-size: 20px;">
                 
            </a>
          </td>
        </tr>
        <tr class="collapse" id="collapseExamp">
              <td>
                  <p class="disabled">Abstract</p>
                  <p class="disabled">Rock & Pinup</p>
              </td>
        </tr>
        <tr>
          <td>All Time Featured</td>
        </tr>
        </table>
      </div>
      <!-- end catagories section -->
      <div class="artist">
        <div class="artistss">
          <h3>ARTISTS</h3>
        </div>
        <table class="table artists">
          <tr>
            <th>Alexander Spiegel</th>
          </tr>
          <tr>
            <td>Jessy Valentine</td>
          </tr>
          <tr>
            <td>Edwerd Calvinson</td>
          </tr>
        </table>
      </div>
      <!-- end artist section -->
      <div class="color-section">
        <div class="colors">
          <h3>COLOR</h3>
        </div>
        <div class="input-type" style="margin-top: 30px;">
         <div class="new" style="float: left;">
          <form>
            <div class="form-group">
              <input type="checkbox">
              <label for="color">Black</label>
            </div>
            <div class="form-group">
              <input type="checkbox">
              <label for="color">White</label>
            </div>
            <div class="form-group">
              <input type="checkbox" >
              <label for="color">Blue</label>
            </div>
          </form>
         </div>
         <div class="new" style="float: right;">
          <form>
            <div class="form-group">
              <input type="checkbox" id="html">
              <label for="color">Yellow</label>
            </div>
            <div class="form-group">
              <input type="checkbox" id="css">
              <label for="color">Green</label>
            </div>
            <div class="form-group">
              <input type="checkbox" id="javascript">
              <label for="color">Red</label>
            </div>
          </form>
         </div>
       </div>
      </div>
      <!-- end color section -->
      <div class="price"> 
        <div class="prices">
          <h3>PRICE</h3>
        </div>
        <div class="rang-container">
          <input class="range" type="range" min="0" max="100" value="60" step="1" onmousemove="" style="width: 100%;">
          <div class="button-section">
          <button class="btn">FILTER NOW</button>
          <p>price: <span>$0</span> to <span>$200</span></p>
        </div>
       </div>
     </div>
     <!-- end price section -->
    <div class="feature-section">
      <div class="feature-heading">
        <h3>FEATURED</h3>
      </div>
       <div class="features">
      <div class="rating-star">
        <div class="imgage">
         <img src="images/1.jpg" alt="" >
        </div>
        <div class="golden-eagle">
        <h5>THE GOLDEN EAGKLE</h5>
         <div class="rate">
            <input type="radio" id="star5" name="rate" value="5" />
            <label for="star5" title="text">5 stars</label>
            <input type="radio" id="star4" name="rate" value="4" />
            <label for="star4" title="text">4 stars</label>
            <input type="radio" id="star3" name="rate" value="3" />
            <label for="star3" title="text">3 stars</label>
            <input type="radio" id="star2" name="rate" value="2" />
            <label for="star2" title="text">2 stars</label>
            <input type="radio" id="star1" name="rate" value="1" />
            <label for="star1" title="text">1 star</label>
          </div>
          <p>$140</p>
        </div>
      </div>
      <div class="rating-star">
        <div class="imgage">
         <img src="images/1.jpg" alt="">
        </div>
        <div class="golden-eagle">
         <h5>THE PATRIOT</h5>
         <div class="rate">
            <input type="radio" id="star5" name="rate" value="5" />
            <label for="star5" title="text">5 stars</label>
            <input type="radio" id="star4" name="rate" value="4" />
            <label for="star4" title="text">4 stars</label>
            <input type="radio" id="star3" name="rate" value="3" />
            <label for="star3" title="text">3 stars</label>
            <input type="radio" id="star2" name="rate" value="2" />
            <label for="star2" title="text">2 stars</label>
            <input type="radio" id="star1" name="rate" value="1" />
            <label for="star1" title="text">1 star</label>
          </div>
          <p>$185</p>
        </div>
      </div>
      </div>
     </div>
      <!-- end price section -->
   	 </div>
     <!-- end row - col-md-3 -->
     <!--  start row === col-md-9====== -->
   	<div class="col-md-9 page-contant-bar">
        <div class="container-fluid heading-one">
         <h2>SHOWING 9 OUT OF 128 RESULTS</h2>
         <div class="form-group">
           <label for="name">SHORT BY:</label>
          <select name="slct" id="slctt" class="form-control">
            <option selected disabled>Price(Low to High)</option>
            <option value="1">$100</option>
            <option value="2">$55</option>
            <option value="3">$122</option>
            <option value="4">$111</option>
          </select>
        </div>
        <div class="form-group">
          <select name="slct" id="slctt" class="form-control">
            <option selected disabled>9 Items per Page</option>
            <option value="1">Vagitable</option>
            <option value="2">Frouit</option>
            <option value="3">Krakry</option>
            <option value="4">Shampos</option>
          </select>
        </div>
        <div class="font-size">
         <a href="#all-page-columms"><i class="fa fa-th-large" style="color: red;"></i></a>
        </div>
        <div class="font-size-in">
         <i class="fa fa-list"></i>
        </div>
       </div>
       <hr>
    <div class="coler" id="all-page-columms">
      <div class="container-fluid grid-system row" style="margin-top: 40px;">
       <div class="BOX-LIST col-md-4">
          <div class="images">
            <img src="images/1.jpg" alt="">
          </div>
          <div class="box-contant">
            <h3>THE GOLDEN EAGLE</h3>
              <p>For Extreeme Condition</p>
             <div class="rate">
                <input type="radio" id="star5" name="rate" value="5" />
                <label for="star5" title="text">5 stars</label>
                <input type="radio" id="star4" name="rate" value="4" />
                <label for="star4" title="text">4 stars</label>
                <input type="radio" id="star3" name="rate" value="3" />
                <label for="star3" title="text">3 stars</label>
                <input type="radio" id="star2" name="rate" value="2" />
                <label for="star2" title="text">2 stars</label>
                <input type="radio" id="star1" name="rate" value="1" />
                <label for="star1" title="text">1 star</label>
                <p>$140</p>
              </div>
           </div>
        </div>
        <!-- end box-one -->
        <div class="BOX-LIST col-md-4">
          <div class="images">
            <img src="images/2.jpg" alt="">
          </div>
          <div class="box-contant">
            <h3>POISONOUS FROG</h3>
              <p>For Outdoor Sports</p>
             <div class="rate">
                <input type="radio" id="star5" name="rate" value="5" />
                <label for="star5" title="text">5 stars</label>
                <input type="radio" id="star4" name="rate" value="4" />
                <label for="star4" title="text">4 stars</label>
                <input type="radio" id="star3" name="rate" value="3" />
                <label for="star3" title="text">3 stars</label>
                <input type="radio" id="star2" name="rate" value="2" />
                <label for="star2" title="text">2 stars</label>
                <input type="radio" id="star1" name="rate" value="1" />
                <label for="star1" title="text">1 star</label>
                <p>$170</p>
              </div>
            </div>
        </div>
        <div class="BOX-LIST col-md-4">
          <div class="images">
           <img src="images/3.jpg" alt="">
          </div>
          <div class="box-contant">
            <h3>CRASHER BLU</h3>
              <p>Water Resistant</p>
             <div class="rate">
                <input type="radio" id="star5" name="rate" value="5" />
                <label for="star5" title="text">5 stars</label>
                <input type="radio" id="star4" name="rate" value="4" />
                <label for="star4" title="text">4 stars</label>
                <input type="radio" id="star3" name="rate" value="3" />
                <label for="star3" title="text">3 stars</label>
                <input type="radio" id="star2" name="rate" value="2" />
                <label for="star2" title="text">2 stars</label>
                <input type="radio" id="star1" name="rate" value="1" />
                <label for="star1" title="text">1 star</label>
                <p>$165</p>
              </div>
            </div>
        </div>
     </div>
     <!-- end row of box one -->
      <div class="container-fluid grid-system row" style="margin-top: 40px;">
       <div class="BOX-LIST col-md-4">
          <div class="images">
            <img src="images/4.jpg" alt="">
          </div>
          <div class="box-contant">
            <h3>THE GOLDEN EAGLE</h3>
              <p>For Extreeme Condition</p>
             <div class="rate">
                <input type="radio" id="star5" name="rate" value="5" />
                <label for="star5" title="text">5 stars</label>
                <input type="radio" id="star4" name="rate" value="4" />
                <label for="star4" title="text">4 stars</label>
                <input type="radio" id="star3" name="rate" value="3" />
                <label for="star3" title="text">3 stars</label>
                <input type="radio" id="star2" name="rate" value="2" />
                <label for="star2" title="text">2 stars</label>
                <input type="radio" id="star1" name="rate" value="1" />
                <label for="star1" title="text">1 star</label>
                <p>$140</p>
              </div>
          </div>
        </div>
        <div class="BOX-LIST col-md-4">
          <div class="images">
           <img src="images/5.jpg" alt="">
          </div>
          <div class="box-contant">
            <h3>POISONOUS FROG</h3>
              <p>For Outdoor Sports</p>
             <div class="rate">
                <input type="radio" id="star5" name="rate" value="5" />
                <label for="star5" title="text">5 stars</label>
                <input type="radio" id="star4" name="rate" value="4" />
                <label for="star4" title="text">4 stars</label>
                <input type="radio" id="star3" name="rate" value="3" />
                <label for="star3" title="text">3 stars</label>
                <input type="radio" id="star2" name="rate" value="2" />
                <label for="star2" title="text">2 stars</label>
                <input type="radio" id="star1" name="rate" value="1" />
                <label for="star1" title="text">1 star</label>
                <p>$170</p>
              </div>
          </div>
        </div>
        <div class="BOX-LIST col-md-4">
          <div class="images" style="background: #111; justify-content: center; align-items: center; height: 250px; width: 250px; padding: 20px 0">
            <div class="social-media-links">
              <a class="social-media-link social-media-link--twitter" href="#"><i class="fa fa-shopping-cart"></i></a>
              <a class="social-media-link social-media-link--instagram" href="#"><i class=" fa fa-heart"></i></a>
              <a class="social-media-link social-media-link--linkedin" href="#"><i class="fa fa-facebook-f"></i></a>
              <a class="social-media-link social-media-link--youtube" href="#"><i class="fa fa-twitter"></i></a>
            </div>
           </div>
          <div class="box-contant">
              <h3>CRASHER BLU</h3>
               <p>Water Resistant</p>
               <div class="rate">
                  <input type="radio" id="star5" name="rate" value="5" />
                  <label for="star5" title="text">5 stars</label>
                  <input type="radio" id="star4" name="rate" value="4" />
                  <label for="star4" title="text">4 stars</label>
                  <input type="radio" id="star3" name="rate" value="3" />
                  <label for="star3" title="text">3 stars</label>
                  <input type="radio" id="star2" name="rate" value="2" />
                  <label for="star2" title="text">2 stars</label>
                  <input type="radio" id="star1" name="rate" value="1" />
                  <label for="star1" title="text">1 star</label>
                  <p>$165</p>
                </div>
          </div>
        </div>
      </div>
     <div class="container-fluid grid-system row" style="margin-top: 40px;">
       <div class="BOX-LIST col-md-4">
          <div class="images">
            <img src="images/1.jpg" alt="">
          </div>
        <div class="box-contant">
          <h3>THE GOLDEN EAGLE</h3>
            <p>For Extreeme Condition</p>
           <div class="rate">
              <input type="radio" id="star5" name="rate" value="5" />
              <label for="star5" title="text">5 stars</label>
              <input type="radio" id="star4" name="rate" value="4" />
              <label for="star4" title="text">4 stars</label>
              <input type="radio" id="star3" name="rate" value="3" />
              <label for="star3" title="text">3 stars</label>
              <input type="radio" id="star2" name="rate" value="2" />
              <label for="star2" title="text">2 stars</label>
              <input type="radio" id="star1" name="rate" value="1" />
              <label for="star1" title="text">1 star</label>
              <p>$140</p>
            </div>
        </div>
       </div>
      <div class="BOX-LIST col-md-4">
            <div class="images">
            <img src="images/2.jpg" alt="">
            </div>
          <div class="box-contant">
            <h3>POISONOUS FROG</h3>
              <p>For Outdoor Sports</p>
              <div class="rate">
                <input type="radio" id="star5" name="rate" value="5" />
                <label for="star5" title="text">5 stars</label>
                <input type="radio" id="star4" name="rate" value="4" />
                <label for="star4" title="text">4 stars</label>
                <input type="radio" id="star3" name="rate" value="3" />
                <label for="star3" title="text">3 stars</label>
                <input type="radio" id="star2" name="rate" value="2" />
                <label for="star2" title="text">2 stars</label>
                <input type="radio" id="star1" name="rate" value="1" />
                <label for="star1" title="text">1 star</label>
                <p>$170</p>
              </div>
          </div>
      </div>
     <div class="BOX-LIST col-md-4 ">
          <div class="images">
            <img src="images/3.jpg" alt="">
          </div>
          <div class="box-contant">
            <h3>CRASHER BLU</h3>
              <p>Water Resistant</p>
             <div class="rate">
                <input type="radio" id="star5" name="rate" value="5" />
                <label for="star5" title="text">5 stars</label>
                <input type="radio" id="star4" name="rate" value="4" />
                <label for="star4" title="text">4 stars</label>
                <input type="radio" id="star3" name="rate" value="3" />
                <label for="star3" title="text">3 stars</label>
                <input type="radio" id="star2" name="rate" value="2" />
                <label for="star2" title="text">2 stars</label>
                <input type="radio" id="star1" name="rate" value="1" />
                <label for="star1" title="text">1 star</label>
                <p>$165</p>
              </div>
          </div>
     </div>
    </div>
  </div>
     <!-- end line three boxes of row -->
     <div class="container-fluid" style="display: flex;
       justify-content: center; margin-top: 60px;">
         <ul class="pagination pagination-lg">
            <li><a href="#"><i class="fa fa-angle-left"></i></a></li>
            <li><a href="#">1</a></li>
            <li><a href="#" style="color: red;">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
          </ul>
     </div>
     <!-- end pagination container========= -->
    </div>
    <!-- end pagination section========= -->
   </div>
   <!-- end new page row total page ============-->
 </div>
 <!-- end compelet container=============== -->
 <!-- @include html_partials/footer.html -->
 <script>
  $(document).ready(function () {
    $('.plud-sing').click(function(){
      $('.plud-sing').toggleClass('active');
    });
  });
 </script>
  <script>
  $(document).ready(function () {
    $('.plud-si').click(function(){
      $('.plud-si').toggleClass('active');
    });
  });
 </script>
  <script>
  $(document).ready(function () {
    $('.plud-sin').click(function(){
      $('.plud-sin').toggleClass('active');
    });
  });
 </script>
 <script type="text/javascript">
 $(document).ready(function () {
    $('.font-size-in').click(function(){
      $('.font-size-in').toggleClass('liaqat');
    });
  });
 </script>